<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.finrun.trading.mapper.CtpDepthMarketDataMapper" >

    <insert id="insert" parameterType="com.finrun.trading.model.CtpDepthMarketData">
        insert into CTP_DEPTH_MARKET_DATA (
            object_id,
            trading_day,
            instrument_Id,
            exchange_Id,
            exchange_Inst_Id,
            last_Price,
            pre_Settlement_Price,
            pre_Close_Price,
            pre_Open_Interest,
            open_Price,
            highest_Price,
            lowest_Price,
            volume,
            turnover,
            open_Interest,
            close_Price,
            settlement_Price,
            upper_Limit_Price,
            lower_Limit_Price,
            pre_Delta,
            curr_Delta,
            update_Time,
            update_Milli_sec,
            bid_Price1,
            bid_Volume1,
            ask_Price1,
            ask_Volume1,
            bid_Price2,
            bid_Volume2,
            ask_Price2,
            ask_Volume2,
            bid_Price3,
            bid_Volume3,
            ask_Price3,
            ask_Volume3,
            bid_Price4,
            bid_Volume4,
            ask_Price4,
            ask_Volume4,
            bid_Price5,
            bid_Volume5,
            ask_Price5,
            ask_Volume5,
            average_Price,
            action_Day
        ) values(
            #{objectId,jdbcType=VARCHAR},
            #{tradingDay,jdbcType=CHAR},
            #{instrumentId,jdbcType=VARCHAR},
            #{exchangeId,jdbcType=VARCHAR},
            #{exchangeInstId,jdbcType=VARCHAR},
            #{lastPrice,jdbcType=DECIMAL},
            #{preSettlementPrice,jdbcType=DECIMAL},
            #{preClosePrice,jdbcType=DECIMAL},
            #{preOpenInterest,jdbcType=DECIMAL},
            #{openPrice,jdbcType=DECIMAL},
            #{highestPrice,jdbcType=DECIMAL},
            #{lowestPrice,jdbcType=DECIMAL},
            #{volume,jdbcType=DECIMAL},
            #{turnover,jdbcType=DECIMAL},
            #{openInterest,jdbcType=DECIMAL},
            #{closePrice,jdbcType=DECIMAL},
            #{settlementPrice,jdbcType=DECIMAL},
            #{upperLimitPrice,jdbcType=DECIMAL},
            #{lowerLimitPrice,jdbcType=DECIMAL},
            #{preDelta,jdbcType=DECIMAL},
            #{currDelta,jdbcType=DECIMAL},
            #{updateTime,jdbcType=CHAR},
            #{updateMilliSec,jdbcType=DECIMAL},
            #{bidPrice1,jdbcType=DECIMAL},
            #{bidVolume1,jdbcType=DECIMAL},
            #{askPrice1,jdbcType=DECIMAL},
            #{askVolume1,jdbcType=DECIMAL},
            #{bidPrice2,jdbcType=DECIMAL},
            #{bidVolume2,jdbcType=DECIMAL},
            #{askPrice2,jdbcType=DECIMAL},
            #{askVolume2,jdbcType=DECIMAL},
            #{bidPrice3,jdbcType=DECIMAL},
            #{bidVolume3,jdbcType=DECIMAL},
            #{askPrice3,jdbcType=DECIMAL},
            #{askVolume3,jdbcType=DECIMAL},
            #{bidPrice4,jdbcType=DECIMAL},
            #{bidVolume4,jdbcType=DECIMAL},
            #{askPrice4,jdbcType=DECIMAL},
            #{askVolume4,jdbcType=DECIMAL},
            #{bidPrice5,jdbcType=DECIMAL},
            #{bidVolume5,jdbcType=DECIMAL},
            #{askPrice5,jdbcType=DECIMAL},
            #{askVolume5,jdbcType=DECIMAL},
            #{averagePrice,jdbcType=DECIMAL},
            #{actionDay,jdbcType=CHAR}
        )
    </insert>

</mapper>