<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.finrun.trading.mapper.CtpReqOrdMapper">

    <insert id="insert" parameterType="com.finrun.trading.model.CtpReqOrd">
        insert into CTP_REQ_ORD (
            broker_Id,
            investor_Id,
            instrument_Id,
            order_Ref,
            user_Id,
            order_Price_Type,
            direction,
            comb_Offset_Flag,
            comb_Hedge_Flag,
            limit_Price,
            volume_Total_Original,
            time_Condition,
            gtd_Date,
            volume_Condition,
            min_Volume,
            contingent_Condition,
            stop_Price,
            force_Close_Reason,
            is_Auto_Suspend,
            business_Unit,
            request_Id,
            order_Local_Id,
            exchange_Id,
            participant_Id,
            client_ID,
            exchange_Inst_ID,
            trader_ID,
            install_ID,
            order_Submit_Status,
            notify_Sequence,
            trading_Day,
            settlement_Id,
            order_Sys_Id,
            order_Source,
            order_Status,
            order_Type,
            volume_Traded,
            volume_Total,
            insert_Date,
            insert_Time,
            active_Time,
            suspend_Time,
            update_Time,
            cancel_Time,
            active_Trader_Id,
            clearing_Part_ID,
            sequence_No,
            front_ID,
            session_ID,
            user_Product_Info,
            status_Msg,
            user_Force_Close,
            active_User_ID,
            broker_Order_Seq,
            relative_Order_Sys_ID,
            zce_Total_Traded_Volume,
            is_Swap_Order,
            branch_Id,
            invest_Unit_Id,
            account_Id,
            currency_Id,
            ip_Address,
            mac_Address
        ) values(
            #{brokerId,jdbcType=VARCHAR},
            #{investorId,jdbcType=VARCHAR},
            #{instrumentId,jdbcType=VARCHAR},
            #{orderRef,jdbcType=VARCHAR},
            #{userId,jdbcType=VARCHAR},
            #{orderPriceType,jdbcType=CHAR},
            #{direction,jdbcType=CHAR},
            #{combOffsetFlag,jdbcType=CHAR},
            #{combHedgeFlag,jdbcType=CHAR},
            #{limitPrice,jdbcType=DECIMAL},
            #{volumeTotalOriginal,jdbcType=DECIMAL},
            #{timeCondition,jdbcType=CHAR},
            #{gtdDate,jdbcType=CHAR},
            #{volumeCondition,jdbcType=CHAR},
            #{minVolume,jdbcType=DECIMAL},
            #{contingentCondition,jdbcType=CHAR},
            #{stopPrice,jdbcType=DECIMAL},
            #{forceCloseReason,jdbcType=CHAR},
            #{isAutoSuspend,jdbcType=DECIMAL},
            #{businessUnit,jdbcType=VARCHAR},
            #{requestId,jdbcType=DECIMAL},
            #{orderLocalId,jdbcType=VARCHAR},
            #{exchangeId,jdbcType=VARCHAR},
            #{participantId,jdbcType=VARCHAR},
            #{clientId,jdbcType=VARCHAR},
            #{exchangeInstId,jdbcType=VARCHAR},
            #{traderId,jdbcType=VARCHAR},
            #{installId,jdbcType=DECIMAL},
            #{orderSubmitStatus,jdbcType=CHAR},
            #{notifySequence,jdbcType=DECIMAL},
            #{tradingDay,jdbcType=CHAR},
            #{settlementId,jdbcType=DECIMAL},
            #{orderSysId,jdbcType=VARCHAR},
            #{orderSource,jdbcType=CHAR},
            #{orderStatus,jdbcType=CHAR},
            #{orderType,jdbcType=CHAR},
            #{volumeTraded,jdbcType=DECIMAL},
            #{volumeTotal,jdbcType=DECIMAL},
            #{insertDate,jdbcType=CHAR},
            #{insertTime,jdbcType=CHAR},
            #{activeTime,jdbcType=CHAR},
            #{suspendTime,jdbcType=CHAR},
            #{updateTime,jdbcType=CHAR},
            #{cancelTime,jdbcType=CHAR},
            #{activeTraderId,jdbcType=VARCHAR},
            #{clearingPartId,jdbcType=VARCHAR},
            #{sequenceNo,jdbcType=DECIMAL},
            #{frontId,jdbcType=DECIMAL},
            #{sessionId,jdbcType=DECIMAL},
            #{userProductInfo,jdbcType=VARCHAR},
            #{statusMsg,jdbcType=VARCHAR},
            #{userForceClose,jdbcType=DECIMAL},
            #{activeUserId,jdbcType=VARCHAR},
            #{brokerOrderSeq,jdbcType=DECIMAL},
            #{relativeOrderSysId,jdbcType=VARCHAR},
            #{zceTotalTradedVolume,jdbcType=DECIMAL},
            #{isSwapOrder,jdbcType=DECIMAL},
            #{branchId,jdbcType=VARCHAR},
            #{investUnitId,jdbcType=VARCHAR},
            #{accountId,jdbcType=VARCHAR},
            #{currencyId,jdbcType=CHAR},
            #{ipAddress,jdbcType=VARCHAR},
            #{macAddress,jdbcType=VARCHAR}
        )
    </insert>


    <select id="qryCountByPrimKey" parameterType="com.finrun.trading.model.CtpReqOrd" resultType="java.lang.Integer">
        SELECT
          count(1)
        FROM
          CTP_REQ_ORD
        <include refid="primKeyWhereClause"/>
    </select>


    <update id="updateAllByPrimKey" parameterType="com.finrun.trading.model.CtpReqOrd">
        update
          CTP_REQ_ORD
        set
            broker_id=#{brokerId,jdbcType=VARCHAR},
            investor_id=#{investorId,jdbcType=VARCHAR},
            instrument_id=#{instrumentId,jdbcType=VARCHAR},
            user_id=#{userId,jdbcType=VARCHAR},
            order_price_type=#{orderPriceType,jdbcType=CHAR},
            direction=#{direction,jdbcType=CHAR},
            comb_offset_flag      =#{combOffsetFlag,jdbcType=CHAR},
            comb_hedge_flag       =#{combHedgeFlag,jdbcType=CHAR},
            limit_price           =#{limitPrice,jdbcType=DECIMAL},
            volume_total_original =#{volumeTotalOriginal,jdbcType=DECIMAL},
            time_condition        =#{timeCondition,jdbcType=CHAR},
            gtd_date              =#{gtdDate,jdbcType=CHAR},
            volume_condition      =#{volumeCondition,jdbcType=CHAR},
            min_volume            =#{minVolume,jdbcType=DECIMAL},
            contingent_condition  =#{contingentCondition,jdbcType=CHAR},
            stop_price            =#{stopPrice,jdbcType=DECIMAL},
            force_close_reason    =#{forceCloseReason,jdbcType=CHAR},
            is_auto_suspend       =#{isAutoSuspend,jdbcType=DECIMAL},
            business_unit         =#{businessUnit,jdbcType=VARCHAR},
            request_id            =#{requestId,jdbcType=DECIMAL},
            order_local_id        =#{orderLocalId,jdbcType=VARCHAR},
            exchange_id           =#{exchangeId,jdbcType=VARCHAR},
            participant_id        =#{participantId,jdbcType=VARCHAR},
            client_id             =#{clientId,jdbcType=VARCHAR},
            exchange_inst_id      =#{exchangeInstId,jdbcType=VARCHAR},
            trader_id             =#{traderId,jdbcType=VARCHAR},
            install_id            =#{installId,jdbcType=DECIMAL},
            order_submit_status   =#{orderSubmitStatus,jdbcType=CHAR},
            notify_sequence       =#{notifySequence,jdbcType=DECIMAL},
            trading_day           =#{tradingDay,jdbcType=CHAR},
            settlement_id         =#{settlementId,jdbcType=DECIMAL},
            order_sys_id          =#{orderSysId,jdbcType=VARCHAR},
            order_source          =#{orderSource,jdbcType=CHAR},
            order_status          =#{orderStatus,jdbcType=CHAR},
            order_type            =#{orderType,jdbcType=CHAR},
            volume_traded         =#{volumeTraded,jdbcType=DECIMAL},
            volume_total          =#{volumeTotal,jdbcType=DECIMAL},
            insert_date           =#{insertDate,jdbcType=CHAR},
            insert_time           =#{insertTime,jdbcType=CHAR},
            active_time           =#{activeTime,jdbcType=CHAR},
            suspend_time          =#{suspendTime,jdbcType=CHAR},
            update_time           =#{updateTime,jdbcType=CHAR},
            cancel_time           =#{cancelTime,jdbcType=CHAR},
            active_trader_id      =#{activeTraderId,jdbcType=VARCHAR},
            clearing_part_id      =#{clearingPartId,jdbcType=VARCHAR},
            sequence_no           =#{sequenceNo,jdbcType=DECIMAL},
            user_product_info     =#{userProductInfo,jdbcType=VARCHAR},
            status_msg            =#{statusMsg,jdbcType=VARCHAR},
            user_force_close      =#{userForceClose,jdbcType=DECIMAL},
            active_user_id        =#{activeUserId,jdbcType=VARCHAR},
            broker_order_seq      =#{brokerOrderSeq,jdbcType=DECIMAL},
            relative_order_sys_id =#{relativeOrderSysId,jdbcType=VARCHAR},
            zce_total_traded_volume=#{zceTotalTradedVolume,jdbcType=DECIMAL},
            is_swap_order          =#{isSwapOrder,jdbcType=DECIMAL},
            branch_id             =#{branchId,jdbcType=VARCHAR},
            invest_unit_id        =#{investUnitId,jdbcType=VARCHAR},
            account_id             =#{accountId,jdbcType=VARCHAR},
            currency_id          =#{currencyId,jdbcType=CHAR},
            ip_address          =#{ipAddress,jdbcType=VARCHAR},
            mac_address          =#{macAddress,jdbcType=VARCHAR}
        <include refid="primKeyWhereClause"/>
    </update>

    <sql id="primKeyWhereClause">
        <where>
            order_ref = #{orderRef,jdbcType=VARCHAR}
            AND front_id = #{frontId,jdbcType=DECIMAL}
            AND session_id =  #{sessionId,jdbcType=DECIMAL}
        </where>
    </sql>
</mapper>